@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
:root {
    --white: #FFFFFF;
    --black: #000000;
    --triangulo: #DC7633;
    --triangulo2: #EB984E;
    --circulo: #B03A2E;
    --circulo2:#E74C3C;
    --cuadrado:#566570;
    --cuadrado2:#5D6D7E;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    background-color: transparent;
}
body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2018/02/02/17/24/background-3125893_1280.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto;
    justify-items: center;
}
.title{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
}
.title img{
    width: 45px;
    height: 45px;
}
.title h1{
    width: 100%;
    padding: 30px;
    text-align:left;
    padding-left: 5px;
    color: var(--black);
}
.container p{
    text-align: end;
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input::placeholder{
    color: var(--black);
}

/* ---------------------------Cuadrado--------------------------------- */
.cuadrado{
    font-size: var(--sm);
    padding: 20px;
    padding-top: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 0.2fr;
    border-radius: 10px;
    background-color: var(--cuadrado2);
    margin-bottom: 10px;
    position: relative;
}
.cuadrado img{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 20%;
    left: 5%;
}
.inputCuadrado{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}
.inputCuadrado label{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 5% 10%;
    grid-template-rows: 1fr;
    gap: 3px;
    padding-bottom: 10px;
    justify-self: start;
}
.inputCuadrado input{
    border: 0;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    margin-bottom: 5px;
    text-align: center;
}
.calcularCuadrado{
    display: flex;
    justify-content: space-between;
}
.inputCuadrado .perimetroCuadrado{
    width: 40%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--cuadrado);
    background-color: var(--cuadrado);
}
.inputCuadrado .areaCuadrado{
    width: 40%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--cuadrado);
    background-color: var(--cuadrado);
}
.resultadoCuadrado{
    display: grid;
    justify-items: center;
}
.resultadoCuadrado #resultadoCuadrado{
    width: 50%;
    border-radius: 4px;
    border: 1px solid var(--cuadrado);
    background-color: var(--cuadrado);
}
/* ---------------------------Triangulo--------------------------------- */

.triangulo{
    font-size: var(--sm);
    padding: 20px;
    padding-top: 8px;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    gap: 25px;
    border-radius: 10px;
    background-color: var(--triangulo2);
    margin-bottom: 10px;
    position: relative;
}
.triangulo img{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 20%;
    left: 5%;
}
.inputTriangulo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
}

.inputTriangulo label{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 5% 15%;
    gap: 3px;
    padding-bottom: 10px;
    justify-self: start;
}
.inputTriangulo input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    /* margin-bottom: 20px; */
    text-align: center;
}
.calcularTriangulo{
    display: flex;
    justify-content: space-between;
}
.inputTriangulo .perimetroTriangulo{
    width: 40%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--triangulo);
    background-color: var(--triangulo);
}
.inputTriangulo .areaTriangulo{
    width: 40%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--triangulo);
    background-color: var(--triangulo);
}
.resultadoTriangulo{
    display: grid;
    justify-items: center;
}
.resultadoTriangulo #resultadoTriangulo{
    width: 50%;
    border-radius: 4px;
    border: 1px solid var(--triangulo);
    background-color: var(--triangulo);
}
/* ---------------------------Circulo--------------------------------- */

.circulo{
    font-size: var(--sm);
    padding: 20px;
    padding-top: 8px;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    gap: 25px;
    border-radius: 10px;
    background-color: var(--circulo2);
    position: relative;
}
.circulo img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 22%;
    left: 8%;
}
.inputCirculo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.inputCirculo label{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 5% 15%;
    gap: 3px;
    padding-bottom: 10px;
    justify-self: start;
    align-self: center;
}
.inputCirculo input{
    border: 0;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    margin-bottom: 20px;
    text-align: center;
}
.calcularCirculo{
    display: flex;
    justify-content: space-around;
}
.inputCirculo .diametroCirculo{
    width: 30%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--circulo);
    background-color: var(--circulo);
}
.inputCirculo .perimetroCirculo{
    width: 30%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--circulo);
    background-color: var(--circulo);
}
.inputCirculo .areaCirculo{
    width: 30%;
    height: 70%;
    border-radius: 4px;
    border: 1px solid var(--circulo);
    background-color: var(--circulo);
}
.resultadoCirculo{
    display: grid;
    justify-items: center;
}
.resultadoCirculo #resultadoCirculo{
    width: 50%;
    border-radius: 4px;
    border: 1px solid var(--circulo);
    background-color: var(--circulo);
}
.inputCuadrado #unidadCuadrado,
.inputTriangulo #unidadTriangulo,
.inputCirculo #unidadCirculo{
    border: 0;
}
@media (min-height:900px){
    .container{
        height: 1400px;
        grid-template-rows: 10% 0.1fr 0.1fr 0.1fr;
    }
}
@media (min-width:480px){
    .inputTriangulo label,
    .inputCuadrado label,
    .inputCirculo label{
        grid-template-columns: 70% 5% 10%;
    }
    .cuadrado,
    .triangulo,
    .circulo{
        width: 550px;
    }
    
}
@media (max-width:480px){
    
    .cuadrado img,
    .triangulo img{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30%;
        left: 7%;
    }
    .circulo img{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 25%;
        left: 10%;
    }
}